.flashsystem-storageclass-overview {
   &--error {
     margin-top: var(--pf-global--spacer--xs);
     margin-bottom: var(--pf-global--spacer--xs);
     width: 100%;
     text-align: start;
     font-weight: bold;
   }
 }